* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.App {
  min-height: 100vh;
  /* background-color: darkblue; */

  &.theme--dark {
    background-color: darkblue;

    .card {
      background-color: darkgrey;

      h2 {
        color: darkgoldenrod;
      }

      p {
        color: darkred;
      }

    }
  }

  .card {
    background-color: grey;

    h2 {
      color: gold;
    }

    p {
      color: goldenrod;
    }
  }
}



/* div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  margin: 0;
  min-height: 100vh;
  min-width: none;
  text-align: center;
  padding: 5rem;

  transition: background 0.3s linear, color 0.3s linear;
} */

div.dark {
  background-color: #1f1f1f;
  color: white;
}